
<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {{#each albums}}
      <div class="col">
        <div class="card h-100">
          <img src="{{this.images.[0].url}}" class="card-img-top " alt="...">
          <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <p class="card-text"></p>
            <a href="/tracks/{{this.id}}">View tracks</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>