<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="fondo justify-content-center align-items-center d-flex flex-column " >
        <form class="d-block mb-4 text-center justify-content-center" method="GET" action="/artist-search-results">
        <h1 class="spoty">Spotify</h1>
            <label for="search" class="form-label">Search for an artist :</label>
            <input type="text" class="form-control mb-2" id="search" name="q">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>