<h1>Home</h1>
<form class="d-block mb-4" method="GET" action="/artist-search-results">
    <label for="search" class="form-label">Search for an artist</label>
    <input type="text" class="form-control mb-2" id="search" name="q">
  <button type="submit" class="btn btn-primary">Submit</button>
</form>